html{
    height: 100%;
}
body{
    font-family: Montserrat;
    font-weight: 400;
    height: 100%;


}
.container{
    padding: 0 15px;
    @media screen and (min-width: $breakpoint_md) {
        max-width: 648px;
        margin: 0 auto;
        // padding: 0 60px;
        padding: 0;
    }
    @media screen and (min-width: $breakpoint_lg) {
        max-width: 904px;
}
@media screen and (min-width: $breakpoint_xl) {
    max-width: 1320px;
    margin: 0 auto;
} 
@media screen and (min-width: $breakpoint_xxl) {
    max-width: 1600px;
    margin: 0 auto;
    // padding: 0 160px;
}}
.main_title{
    font-weight: 700;
    font-size: 38px; 
    line-height: 46px;
    
}
.wrapperabsolute{
    position: relative;
    &::before{
        position: absolute;
        content: '';
        bottom: -10px;
        left: 20px;
        right: 20px;
        width: calc(100% - 40px);
        height: 10px;
        background: #CACADB;
        border-radius: 0px 0px 12px 12px;
        // @media  screen and (min-width: $breakpoint_md) {
        //     width: 728px;
        // }
        // @media  screen and (min-width: $breakpoint_lg) {
        //     width: 984px;
        // }
        // @media  screen and (min-width: $breakpoint_xl) {
        //     width: 1400px;
        // }
        // @media  screen and (min-width: $breakpoint_xxl) {
        //     width: 1880px;
        // } 
    }
        &::after{ 
        position: absolute;
        content: '';
        bottom: -20px;
        left: 40px;
        right: 40px;
        width: calc(100% - 80px);
        height: 10px;
        background: #E7E7F2;
        border-radius: 0px 0px 12px 12px;
        // @media  screen and (min-width: $breakpoint_md) {
        //     width: 688px;
        // }
        // @media  screen and (min-width: $breakpoint_lg) {
        //     width: 944px;
        // }
        // @media  screen and (min-width: $breakpoint_xl) {
        //     width: 1360px;
        // }
        // @media  screen and (min-width: $breakpoint_xxl) {
        //     width: 1840px;
        // }
    }}


.wrapper
 {
    overflow: hidden;
    margin: 0 0 50px;
    position: relative;
     @media screen and (min-width: $breakpoint_md) {
       margin: 0 0 80px; 
     }
    background: $gradient_supersoft;
   }

    
   
    
   

.hidden{
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
    z-index: -1000;
}
.facebook{
    width: 24px;
    height: 24px;
}
.footer{
    background: $grey_bg;
}
